{{#if exists}}
    <h2>Viendo el carrito {{cart._id}}</h2>
    <table style="margin: auto; width: 80vw;">
        <thead class="cart-table__thead">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#if productsQuantity}}
                {{#each cart.products}}
                    <tr>
                        <td class="cart-table-tbody__id">{{this.product._id}}</td>
                        <td class="cart-table-tbody__name">{{this.product.title}}</td>
                        <td class="cart-table-tbody__price">${{this.product.price}}</td>
                        <td class="cart-table-tbody__quantity">x{{this.quantity}}</td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="2" style="border: 5px dotted red;"><p style="width: fit-content; margin: auto;">No hay productos en el carrito</p></td>
                </tr>
            {{/if}}
        </tbody>
    </table>
{{else}}
    <h1 style="border-bottom: 1px solid red; width: fit-content;">{{cart.msg}}</h1>
{{/if}}
