<div class="product-list">

        {{#each response.payload}}
            {{#if this.visible}}
                <a href='/api/products/{{this._id}}'>
                    <div class="product-item">
                        <div class="product-item__content">
                            <h3>{{this.title}}</h3>
                            <p>{{this.description}}</p>
                            <p class="product-item__stock">Stock: {{this.stock}}</p>
                            <p class="product-item__price">$ {{this.price}}</p>
                        </div>
                    </div>
                </a>
            {{/if}}
        {{/each}}


        <div class="pageSwitcherContainer">
            <div class="pageSwitcher">
                <a href="{{response.prevLink}}">Anterior</a>
                <a href="{{response.page}}">Pagina {{response.page}}</a>
                <a href="{{response.nextLink}}">Siguiente</a>
            </div>
        </div>
</div>
