<div class="pageLabel_container">
        <div class="pageLabel_wraper">
            <h1>
                Owner Menu
            </h1>
                <a href="/">Home</a><span>Owner Menu</span>
        </div>
</div>

<div class="ownermenu">

    <div class="product_list_wrapper">
        <div class="insertProduct_Button" onclick="showmodal('insert', null)">
            <img src="/img/icon/plus.png" alt="Plus ICON"><p>ADD PRODUCT</p>
        </div>

        {{#each products}}
                <div class="product_list_item">
                    <div class="product_item_img">
                        <a href="">
                            <img src="{{this.thumbnail.[0]}}" alt="">
                        </a>
                    </div>
                    <div class="product_item_title">
                        <a href="">
                            {{this.title}}
                        </a>
                    </div>
                    <div class="product_item_price">
                        {{this.price}}
                    </div>
                    <div class="product_item_stock">
                        {{this.stock}}
                    </div>
                    <div class="product_item_visible">
                        {{this.visible}}
                    </div>
                    <div class="product_item_buttons">
                        <div class="product_item_edit" onclick="showmodal('update', '{{this._id}}')">
                            
                        </div>
                        <div class="product_item_delete" onclick="deletefunction('{{this._id}}')">
                            
                        </div>
                    </div>
             </div>
        {{/each}}

    </div>


    <div class="modal_wrapper" id="modal">
        <div class="modal_wrapper2">
            <div class="modal_container animated-fadeInDown">
                <div class="modal_body">
                    <div class="modal_header">
                        <h3 class="modal_title" id="modal_title">Update Product</h3>
                    </div>
                    <div class="modal_content">
                        <form autocomplete="off" class="" action="/ownermenu/updateProduct" method="post">
                            <div class="UpdateProduct-form">
                                <div class="formBody">
                                    <input type="hidden" name="ProductId" id='Update-productID' value="{{this._id}}">
                                    <label for="Update-productName">Product Name</label>
                                    <input type="text" name="Update-productName" id="Update-productName" placeholder="Product Name" value="{{this.title}}" required />
                                    <label for="Update-productDescription">Product Description</label>
                                    <textarea  name="Update-productDescription" id="Update-productDescription" placeholder="Product Description"  required  cols="90" rows="10">{{this.description}}</textarea>
                                    <div class="divider">
                                        <div class="divider_column">
                                            <div class="standard">
                                                <label for="Update-productCategory">Product Category</label>
                                                <input type="text" name="Update-productCategory" id="Update-productCategory" placeholder="Product Category" required value="{{this.category}}"/>
                                            </div>
                                            <div class="standard">
                                                <label for="Update-productStock">Product Stock</label>
                                                <input type="number" name="Update-productStock" id="Update-productStock" placeholder="Product Stock" value="{{this.stock}}" />
                                            </div>
                                            <div class="simple">
                                                <label for="Update-productPrice">Product Price</label>
                                                <input type="number" name="Update-productPrice" id="Update-productPrice" min="1" placeholder="Product Price" value="{{this.price}}" required />
                                            </div>
                                        </div>
                                        <div class="divider_column">
                                            <div class="standard">
                                                <label for="Update-productCode">Product Code</label>
                                                <input type="text" name="Update-productCode" id="Update-productCode" placeholder="Product Code" required value="{{this.code}}" />
                                            </div>
                                            <div class="chkbox">
                                                <label for="Update-productVisibility">Product Visibility</label>
                                                <input name="Update-productVisibility" type="checkbox" id="Update-productVisible" checked/>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <label for="Update-productImage">Product Image</label>
                                    <input type="text" name="Update-productImage" id="Update-productImage" placeholder="Product Image" required value="{{this.thumbnail.[0]}}"/>      
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal_footer">
                        <div class="buttons">
                            <div class="accept" onclick="sendEvent()"><p>ACCEPT</p></div>
                            <div class="cancel_update" onclick="closemodal()"><p>CANCEL</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                    
    </div>



   


</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/OwnerController.js"></script>


