<div class="pageLabel_container">
        <div class="pageLabel_wraper">
            <h1>
                User Profile
            </h1>
                <a href="/">Home</a><span>Profile</span>
        </div>
</div>

<div class="profilePageWrap">
    <div class="mainInfo_container">
        <div class="avatarContainer">
            <div class="avatarDiv">
                <img src="/img/placeholder/avatar-placeholder.png" class="avatar" alt="avatar Placeholder">
                <div class="hoverEffect">
                    <div class="innerDiv">
                        <img src="/img/icon/subir.png" class="innerDiv_Image" alt="Upload Image">
                        <p>Upload Image</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="userCredential_container">
            <div class="credential userID"><h3>User ID:</h3><p>{{user._id}}</p></div>
            <div class="credential"><h3>Name</h3><p>{{user.firstName}} {{user.lastName}}</p></div>
            <div class="credential"><h3>Email</h3><p>{{user.email}}</p></div>
            <div class="credential"><h3>Role</h3><p>{{user.role}}</p></div>
        </div>
    </div>

    <div class="secondaryInfo_container">
        <div class="documentStatusList">
            <div class="documentStatusList_title">
                <h2>My Documents</h2>
            </div>
            <div class="documentItem">
                <div class="labelWraper">
                    <div class="documentStatus {{#if documents.identification}}true{{else}}false{{/if}}"></div>
                    <p>Cedula de Identidad</p>
                </div> 
                <p class="uploadButton">Upload</p>
            </div>
            <div class="documentItem">
                <div class="labelWraper">
                    <div class="documentStatus {{#if documents.residence}}true{{else}}false{{/if}}"></div>
                    <p>Constancia de domicilio</p>
                </div> 
                <p class="uploadButton">Upload</p>
            </div>
            <div class="documentItem">
                <div class="labelWraper">
                    <div class="documentStatus {{#if documents.accStatus}}true{{else}}false{{/if}}"></div>
                    <p>Comprobante de estado de cuenta</p>
                </div> 
                <p class="uploadButton">Upload</p>
            </div>
        </div>
        <div class="usersProductList">
            <div class="usersProductList_title">
                <h2>My Products</h2>
                {{#if user.premium}}
                    <a class="usersProductList_button" href="/ownermenu">Edit products</a>
                {{else}}
                    <a class="usersProductList_button" href="/users/premium/{{user._id}}">Go premium</a>
                {{/if}}
            </div>
            {{#if userProductsBool}}
                {{#each userProducts}}
                    <div class="usersProductList_title_item"><p class="productItem_title">{{this.title}}</p> <p class="productItem_visible">{{#if this.visible}}Visible{{else}}Invisible{{/if}}</p> <p class="productItem_price">{{this.price}}</p></div>
                {{/each}}
            {{else}}
                <div class="UserNullProducts">
                    <h3>You don't have any product</h3>
                </div>
            {{/if}}
        </div>
    </div>
</div>






<form action="" method="post" enctype="multipart/form-data" id="IdentificationForm" user="{{user._id}}">
<input type="file" id="IdFrontField" accept='.png'>
<input type="file" id="IdBackField" accept='.png'>
<button type="submit" id="IdentificationSendButton">Enviar</button>
</form>

<h1>Comprobante de domicilio</h1>
<form action="" method="post" enctype="multipart/form-data" id="ResidenceForm" user="{{user._id}}">
<input type="file" id="ResidenceField" accept='.pdf'>
<button type="submit" id="ResidenceSendButton">Enviar</button>
</form>

<h1>Comprobante de estado de cuenta</h1>
<form action="" method="post" enctype="multipart/form-data" id="AccStatusForm" user="{{user._id}}">
<input type="file" id="AccStatusField" accept='.pdf'>
<button type="submit" id="AccStatusSendButton">Enviar</button>
</form>

<p>{{log user}}</p>


<script src="/js/documentsHandler.js"></script>